section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.points-system {
	border: 1px solid #ddeeee;
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 13px Arial, sans-serif;
	overflow: auto;
	width: 100%;
}

.points-system thead th {
	background-color: #ddefef;
	border: solid 1px #ddeeee;
	color: #336b6b;
	padding: 10px;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
}

.points-system tbody td {
	border: solid 1px #ddeeee;
	color: #333;
	padding: 10px;
	text-shadow: 1px 1px 1px #fff;
}

.points-system__headers {
	font-size: 20px;
}

.points-system__items-column {
	border: none !important;
	display: inline-block;
	overflow: auto;
}

.points-system__player-items-table {
	padding: 0 !important;
}

.points-system__player-items-table div {
	padding: 10px;
	width: 100%;
}
